{% extends "generic/base_manage.html" %}

{% block type_name %}questions{% endblock %}
{% block type_name_singular %}question{% endblock %}

{% block table_listing %}
    <table class="table is-fullwidth is-hoverable is-striped">
        <thead>
        <tr>
            <th scope="col">Question ID</th>
            <th scope="col">Question</th>
            <th scope="col">Response 1</th>
            <th scope="col">Response 2</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions.items %}
            <tr>
                <td>{{ question.question_id }}</td>
                <td>{{ question.content_english }}</td>
                <td>{{ question.choice1_english }}</td>
                <td>{{ question.choice2_english }}</td>
                <td>
                    <div class="field has-addons">
                        <p class="control">
                            <a href="{{ url_for('edit_question', question_id=question.question_id) }}" class="button">
                            <span class="icon is-small">
                                <i class="fas fa-edit"></i>
                            </span>
                                <span>Edit Question</span>
                            </a>
                        </p>

                        <p class="control">
                            <a href="{{ url_for('remove_question', question_id=question.question_id) }}" class="button is-danger">
                            <span class="icon is-small">
                                <i class="fas fa-trash"></i>
                            </span>
                                <span>Delete</span>
                            </a>
                        </p>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block add_footer %}
    {% if questions.has_prev %}
        <a href="{{ url_for('list_questions', page=questions.prev_num) }}">&lt; Previous</a>
    {% else %}
        &lt; Previous
    {% endif %}
    |
    {% if questions.has_next %}
        <a href="{{ url_for('list_questions', page=questions.next_num) }}">Next &gt;</a>
    {% else %}
        Next &gt;
    {% endif %}
    <br/>

    <a href="{{ url_for('add_question') }}">
        <button class="button is-success">
            <span>Add a Question</span>
        </button>
    </a>
{% endblock %}
